.schedule-view-container {
  padding: 20px;
  max-width: 1000vh;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100px;
  max-width: 1000vh;
  max-height: 80vh; /* Set the maximum height */
  overflow: auto; /* Add scroll when the form is too long */
}
.view-toggle {
  display: flex;
  margin-bottom: 10px;
}

.view-toggle .left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
  font-size: large; /* Added font size for consistency */
}

.view-toggle .right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50%;
  font-size: large; /* Added font size for consistency */
}

.view-toggle button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  font-size: large; /* Added font size for consistency */
}

.schedule-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.schedule-item p {
  margin: 0; /* Remove default margin to avoid extra spacing */
}

.subject_student,
.faculty_student,
.section_student {
  margin-bottom: 10px; /* Added margin for spacing */
}

.schedule_student {
  margin-bottom: 5px; /* Added margin for spacing */
}

.schedule-details {
  display: flex;
  flex-direction: column;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: medium; /* Adjusted font size for the table */
}

.schedule-table th,
.schedule-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.schedule-table th {
  background-color: #f4f4f4;
}

.schedule-table td {
  vertical-align: middle;
}

.modal::-webkit-scrollbar {
  width: 10px; /* set the scrollbar width */
  height: 6px; /* set the scrollbar height */
}

.modal::-webkit-scrollbar-thumb {
  background-color: #ccc; /* set the thumb color */
  border-radius: 30px; /* set the thumb border radius */
}

.modal::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* set the track color */
  border-radius: 30px; /* set the track border radius */
}