.admin-s_content {
  width: 100%;
}
.edit-button-admin:hover {
  cursor: pointer;
}
.admin-student-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-student-activity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  background: #dde6ed;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 350px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 8px 10px;
  font-size: 15px;
  display: flex;
  outline: none;
  width: 100%;
}

.search-box .search-icon {
  color: #969393;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.search-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.buttons-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons-act {
  background: #dde6ed;
  padding: 15px;
  border-radius: 10px;
  color: #969393;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-act .buttons-icon {
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.buttons-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.student-records {

  flex-direction: column;
  gap: 5px;


  margin-top: 20px;
}

.student-records table {
  width: 100%;
  border-collapse: collapse;


  text-transform: uppercase;
}

.student-records td {
  border-bottom: 1px solid #000000; /* Add border at the bottom only */
  padding: 10px;
  text-align: left;
}

.student-records th {
  border-bottom: 1px solid #000000; /* Add border at the bottom only */
  padding: 10px;
  text-align: left;
  pointer-events: none; /* Prevent any hover effect */
}

.student-records tr:hover {
  background-color: #7b8bbc; /* change this to your desired hover color */
  cursor: pointer;
}

.student-records tr.checked {
  background-color: #7b8bbc; /* change this to your desired checked color */
}

.view-details:hover {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup-add-edit-student {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 1000px;
  max-height: 80vh; /* Set the maximum height */
  overflow: auto; /* Add scroll when the form is too long */
}

.popup-blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.popup-title {
  color: #000;
}

.popup-header h3 {
  margin: 0;
}

.popup-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-content {
  padding: 20px;
}

.popup-content p {
  margin: 0;
  text-align: justify;
}



.popup-content .first-row,
.second-row,
.thrid-row,
.fourth-row,
.fifth-row,
.sixth-row,
.seventh-row,
.eighth-row,
.ninth-row,
.tenth-row {
  margin-top: 10px;
  display: flex;
  column-gap: 16px;
}

.popup-content .input-box,
.grade-level,
.sex-box {
  width: 100%;
}

.popup-content input[type="text"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border-radius: 10px;
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.grade-level {
  display: flex;
  gap: 10px;
}

.grade-level label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sex-box {
  display: flex;
  gap: 10px;
}

.sex-box .male {
  margin-left: 10px;
}

.sex-box label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.grade-level input[type="checkbox"] {
  margin-right: 5px;
}

.popup-content label {
  font-size: 18px;
}

.popup-content input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

.popup-content :where(.sex-options, .sex) {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.first-row input[type="radio"] {
  margin-right: 5px;
}

.popup-content .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.popup-content .short-buttons {
  display: flex;
  margin-top: 16px;
}

.popup-content .btn-box {
  background-color: #150f57;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 26px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline;
  align-items: center;
  justify-content: center;
}

.popup-view-student {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.popup-view-student .popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.popup-view-student .popup-content {
  padding: 20px;
}

.popup-view-student .popup-view-student-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
}