.ManageAccounts_content {
  width: 100%;
}

.manage-accounts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #150f57;
}
.Accounts-records {
  flex-direction: column;
  gap: 5px;

  margin-top: 20px;
}

.Accounts-records table {
  width: 100%;
  border-collapse: collapse;

  text-transform: uppercase;
}

.Accounts-records td {
  border-bottom: 1px solid #000000; /* Add border at the bottom only */
  padding: 10px;
  text-align: left;
}

.Accounts-records th {
  border-bottom: 1px solid #000000; /* Add border at the bottom only */
  padding: 10px;
  text-align: left;
}

.Accounts-records tr:hover {
  background-color: #7b8bbc; /* change this to your desired hover color */
  cursor: pointer;
}

.Accounts-records tbody tr.checked {
  background-color: #7b8bbc; /* change this to your desired checked color */
}
/* Disable hover effect for the header (thead tr) */
.Accounts-records thead tr:hover {
  background-color: unset; /* Prevent hover color change */
  cursor: default; /* Disable pointer cursor */
}

/* Allow interaction with the checkbox in the header */
.Accounts-records th input[type="checkbox"] {
  pointer-events: auto;
  z-index: 1;
}
.view-details-link:hover {
  cursor: pointer;
}

.activity-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  background: #dde6ed;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  outline: none;
}

.search-box .search-icon {
  color: #969393;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.search-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.buttons-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons-act {
  background: #dde6ed;
  padding: 15px;
  border-radius: 10px;
  color: #969393;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-act .buttons-icon {
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.error {
  border: 1px solid red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.popup-content input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border-radius: 10px;
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.popup-content .first-row,
.second-row,
.third-row {
  margin-top: 10px;
  display: flex;
  column-gap: 16px;
}



