.list-item {
    margin-bottom: 20px;

  }

  .list-item div {
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
  }

  .checkmark {
    color: green;
    position: fixed;
  }