.admin-students-body{
    padding: 20px;
}

.students_admin{
    display: flex;
    gap: 20px;
}

.admin_students_content{
    background: #fff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}