.student-records-content {
  width: 100%;
}
.popup-viewliab-student {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 750px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-title {
  color: #150f57;
}

.student-records-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  background: #dde6ed;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  outline: none;
}

.search-box .search-icon {
  color: #969393;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.search-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.student-record-list {
  flex-direction: column;
  gap: 5px;
  margin-top: 35px;
}
.recordlist-container {
  margin-top: 35px;
}
.student-record-list table {
  width: 100%;
  border-collapse: collapse;
  text-transform: uppercase;
  text-align: left; /* Center align text in the table */
}

.student-record-list th {
  width: 150px; /* Set a default width for all headers */
}

.student-record-list th:nth-child(1) {
  width: 100px; /* Student ID */
}

.student-record-list th:nth-child(2) {
  width: 150px; /* Last Name */
}

.student-record-list th:nth-child(3) {
  width: 150px; /* First Name */
}

.student-record-list th:nth-child(4) {
  width: 150px; /* Middle Name */
}

.student-record-list th:nth-child(5) {
  width: 100px; /* Actions */
}

.student-record-list td,
.student-record-list th {
  border-bottom: 1px solid #000000; /* Add border at the bottom only */
  padding: 10px;
  align-items: center;
}

/* Disable hover effect for the header (thead tr) */
.student-record-list thead tr:hover {
  background-color: unset; /* Prevent hover color change */
  cursor: default; /* Disable pointer cursor */
}

/* Row hover effect for tbody */
.student-record-list tbody tr:hover {
  background-color: #7b8bbc; /* Your desired hover color */
  cursor: pointer;
}

.liabilities-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.liabilities-table th,
.liabilities-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.liabilities-table th {
  background-color: #f4f4f4;
}

.liabilities-table td {
  vertical-align: middle;
}

.viewstudentliab-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: medium; /* Adjusted font size for the table */
}

.viewstudentliab-table th,
.viewstudentliab-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.viewstudentliab-table th {
  background-color: #f4f4f4;
}

.viewstudentliab-table td {
  vertical-align: middle;
}